body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0d0d0d;
    color: white;
}

header {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(black, #7a0000);
}

header h1 {
    font-size: 48px;
    color: red;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 60px 20px;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background: #1a1a1a;
    padding: 20px;
    width: 250px;
    border-left: 4px solid red;
}

footer {
    text-align: center;
    padding: 20px;
    background: black;
    font-size: 14px;
}
